//text-colors
$desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$darker-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//background-colors
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: #6565e7;
//divider
$light-grayish-blue: hsl(240, 5%, 91%);
//font
$font-size: 12px;
$font-family: "Kumbh Sans", sans-serif;
